 /* *{
    outline: 1px solid red;
}  */

.logo{
    width: 100%;
    /* background-color: #343A40; */
    background-color: #040D12;
}
.bk_color{
    background-color: #040D12;
    color: white;
    text-decoration: none;
}
.img_carrousel{
/* object-fit: cover; */
height: 350px;
}
h1{
    position: absolute;
    font-size:3rem !important;
    color:#d90368 !important;
    /* text-align: center; */
    text-shadow: 1px 1px 1px black;
    top:8.5em;
    left: 1.9em;
 
}
h3{
    background: #d90368;
    color: white;
}
.h1_upcoming {
    top: 7.5em;
    font-size: 3rem !important;
    left: 0.3em;

}
.h1_contact{
    top: 8.5em;
    left: 0.3em;
}
.h1_past{
    top: 8.5em;
    font-size: 3rem !important;
    left: 0.3em;
}
@media only screen and (min-width:425px) and (max-width:767px){ 
    #h1_home{
        top:8.7em;
        left: 3.1em;
    }
    .h1_contact{
        top:8.7em;
        left: 1.8em; 
    } 
    .h1_upcoming{
        top:7.5em;
        left: 0.1em !important;  
    } 
    #h1_past{
        top:8.5em;
        left: 1.6em !important;  
    } 
    #h1_stats{
        top:8.7em;
        left: 3.1em; 
    }
}
 @media only screen and (min-width:768px)and (max-width:1023px){ 
    #h1_home{
        top:6.3em;
        left: 6.8em !important; 
    }
    .h1_contact{
        top:6.3em;
        left: 5.4em !important; 
    } 
    .h1_upcoming{
        top:6.3em;
        left: 4em !important;  
    } 
    #h1_past{
        top:6.3em;
        left: 5.3em !important; 
    } 
    #h1_stats{
        top:6.3em;
        left: 6.8em !important;
    }

    #message{
        width: 79%;
        margin-left: 11px;
        /* background-color: blue !important; */
    }

    #sign_in{
        margin-left: 15em !important;
    }
   
 } 
@media only screen and  (min-width:1024px){
    #h1_home{
        top:6em;
        left: 12.5em;    
    }
    .h1_upcoming{
        top: 6em;
        left: 9.5em;
    
    }
    #h1_past{
        top: 6em;
        left: 11em!important;
    }
    #h1_contact{
        top: 6em;
        left: 11em;
    }
    #h1_stats{
        top: 6em;
        left: 12.5em;
    }
    .sign_in{
        /* position: absolute; */
        /* border: red solid 2px !important; */
        top: 81em;
        
       
        
    }
    textarea{
        width: 81%;
    }
     footer{
        display: flex;
        flex-direction: row;
        

    }
    .footer_copy{
        
    }
}

header{
    min-height: 10vh;
    background-color: #040D12;
    padding: 8px;
}
main{
    min-height: 14vh;
    background-color: #040D12;
}
body{
    background-color: #040D12!important;
    transition: 0.5s ease-in-out;
}
.categories{
    color: grey;
}
.first_name, .last_name, .message_form {
    color:grey;
}


footer{
    min-height: 2vh;
    background-color: #273f4c;
    color:grey;
    
}

.search_img{
width: 2em;
}
.social_icon{
    width: 2.5em;
}
input{
    transition: 0.4s ease!important;
}