*{
    outline: 1px solid red;
}

.logo{
    width: 100%;
    /* background-color: #343A40; */
    background-color: #040D12;
}
.bk_color{
    background-color: #040D12;
    color: white;
    text-decoration: none;
}
.img_carrousel{
/* object-fit: cover; */
height: 350px;
}
h1{
    position: absolute;
    font-size:3rem !important;
    color:white !important;
    /* text-align: center; */
    text-shadow: 1px 1px 1px black;
    top:8.5em;
    left: 1.9em;
 
}
.h1_upcoming {
    top: 7.5em;
    font-size: 3rem !important;
    left: 0.9em;

}
.h1_contact{
    top: 8.5em;
    left: 0.5em;
}
.h1_past{
    top: 7.5em;
    font-size: 3rem !important;
}
@media only screen and (min-width:446px) and (max-width:768px){ 
    h1{
        top:5em;
        left:0.5em;      
    }
}
 @media only screen and (min-width:769px){ 
    #h1_home{
        top:5em;
        left: 12em;
    }
    .h1_contact{
        top:5em;
        left: 11em;  
    } 
    .h1_upcoming{
        top:5em;
        left: 11em !important;  
    } 
    .h1_past{
        top:5em;
        left: 12em !important;  
    } 
    #h1_stats{
        top:5em;
        left: 12em;
    }

    #message{
        width: 79%;
        margin-left: 11px;
        /* background-color: blue !important; */
    }

    #sign_in{
        margin-left: 15em !important;
    }
   
 } 
@media only screen and  (min-width:1024px){
    h1{
        top:5em;
        left: 9.5em;    
    }
    .h1_upcoming{
        top: 5em;
        left: 9.5em;
    
    }
    .h1_past{
        top: 5em;
        left: 9.5em;
    }
    .sign_in{
        /* position: absolute; */
        /* border: red solid 2px !important; */
        top: 81em;
        left: 35em;
       
        
    }
    textarea{
        width: 81%;
    }
     footer{
        display: flex;
        flex-direction: row;
        

    }
    .footer_copy{
        
    }
}

header{
    min-height: 10vh;
    background-color: #040D12;
    padding: 8px;
}
main{
    min-height: 14vh;
    background-color: #040D12;
}
.categories{
    color: grey;
}
.first_name, .last_name, .message_form {
    color:grey;
}


footer{
    min-height: 2vh;
    background-color: #273f4c;
    color:grey;
    
}

.search_img{
width: 2em;
}
.social_icon{
    width: 2.5em;
}
