/* Serialyzer */
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: cadetblue; */
}
header{
    display: flex;
    flex-direction: row;
    /* gap:2em; */
    background-color:rgb(27,27,27) ;
}
main{
    /* background-color: grey; */
    /* padding-top: 2em; */
    /* padding-bottom: 2em; */
    
}
footer{
    display:inline-block;
    /* width: 100%; */
    background-color:rgb(27,27,27);
    color: grey;
    justify-content: center;
}

/* index.html    */

#active{
    text-decoration: underline;
}
.logo{
    width: 100%;
    background-color: #343A40;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.nav-link{
    /* display: flex; */
    /* margin-left: 4em;   */
   
}
.carrousel{
min-width: 8vw;
max-width: 200vh;

}

#filter_nav{
    background-color: rgb(13, 22, 22) !important;
    width: 100%;
}

.cards{
    display: flex;
    justify-content: space-around;
    padding-top: 2em;
    padding-bottom: 2em;

/* }
.social_footer{
    display: flex;
    /* background-color: blanchedalmond; */
    width: 100%;
    
}
.social_icon{
    width: 3em;
    margin: 1em;
} */

/* uevents.html    */





/* pevents.html    */





/* contact.html    */




stats.html    */